# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy import stats
import scipy

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries['Annual Salary'][~salaries['Annual Salary'].isna()].count()

25528

In [6]:
salaries['Hourly Rate'][~salaries['Hourly Rate'].isna()].count()

8174

In [7]:
salaries.count()

# From the total 25528 employees, 8174 are hourly paid, while the rest (25528) get a yearly salary

Name                 33702
Job Titles           33702
Department           33702
Full or Part-Time    33702
Salary or Hourly     33702
Typical Hours         8174
Annual Salary        25528
Hourly Rate           8174
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:

grouped_by_dep = salaries.groupby('Department').size()
display(grouped_by_dep)

Department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1856
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1033
DISABILITIES              28
FAMILY & SUPPORT         656
FINANCE                  544
FIRE                    4627
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13848
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2175
TRANSPORTN              1113
TREASURER                 28
WATER MGMNT             1914
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
# Your code here:

from scipy.stats import ttest_1samp
hourly_rates = salaries['Hourly Rate'][~salaries['Hourly Rate'].isna()]
stat, pval = ttest_1samp(hourly_rates, 30)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

display(hourly_rates)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [10]:
# Your code here:

salary_workers = salaries[salaries['Salary or Hourly'] == 'Salary'] 

stat, pval = ttest_1samp(hourly_rates, 86000)

# print('stat is  ', stat)
# print('pvalue for the two-tailed test is ', pval/2)

# display(yearly_salary)

stat, pval = ttest_1samp(salary_workers['Annual Salary'], 30)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   673.1503439080466
pvalue for the two-tailed test is  0.0

Using the `crosstab` function, find the department that has the most hourly workers.

In [11]:
# Your code here:

# .sort_values(by="" ascending=False)

hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly'] 

cross_tab = pd.crosstab(hourly_workers['Department'], hourly_workers['Hourly Rate'].count())

cross_tab.columns = ['Hourly_Count']
cross_tab = cross_tab.sort_values(by='Hourly_Count', ascending=False)
print(cross_tab)

# STREETS & SAN

                     Hourly_Count
Department
STREETS & SAN                1846
WATER MGMNT                  1558
AVIATION                     1214
OEMC                         1077
DAIS                          745
TRANSPORTN                    726
FAMILY & SUPPORT              357
PUBLIC LIBRARY                356
CITY COUNCIL                   74
PUBLIC SAFETY ADMIN            48
LAW                            48
FINANCE                        45
POLICE                         24
MAYOR'S OFFICE                 17
ANIMAL CONTRL                  12
CULTURAL AFFAIRS               10
BUSINESS AFFAIRS                7
HOUSING & ECON DEV              3
HEALTH                          2
PROCUREMENT                     2
BUDGET & MGMT                   2
DISABILITIES                    1

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [12]:
# STREETS & SAN

In [13]:
# H0: mean >= 35  
# H1: mean < 35

In [14]:
s_and_s = salaries[salaries['Department'] == 'STREETS & SAN']

s_and_s_hr = s_and_s['Hourly Rate']

In [15]:
s_and_s_hr_cleaned = s_and_s_hr.dropna()

In [16]:
stats_value, pvalue = stats.ttest_1samp(s_and_s_hr_cleaned ,36)

In [17]:
pvalue

0.001205606716297187

In [18]:
stats

In [20]:
degrees_freedom = len(s_and_s_hr_cleaned) - 1  # or, for large values of sample size, just use that (from 50)
sample_mean = np.mean(s_and_s_hr_cleaned)

confidence_level = 0.95
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(s_and_s_hr_cleaned) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [21]:
confidence_interval

# They are wrong the average is slightly higher than 35

(35.28150811892106, 35.82308559722194)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [22]:
# we can find a confidence interval for the population based on our sample


hourly_wage_ar = hourly_workers['Hourly Rate']
confidence_level = 0.95

degrees_freedom = len(hourly_wage_ar) - 1  # or, for large values of sample size, just use that (from 50)
sample_mean = np.mean(hourly_wage_ar)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_wage_ar) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)


np.std(hourly_wage_ar)/np.sqrt(degrees_freedom)

0.14694742867989846

In [23]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [24]:
# H0: mean <= 86000
# H1: mean > 86000

In [25]:
police_rows['Annual Salary']

NameError: name 'police_rows' is not defined

In [26]:
# Your code here:

police_rows = salaries[salaries['Department'] == 'POLICE']
police_rows_cleaned = police_rows['Annual Salary'].dropna()
display(police_rows_cleaned)

# hourly_rates_police = salaries.loc[salaries['Department'] == 'POLICE', 'Hourly Rate']

# print(hourly_rates_police)

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [27]:
from scipy import stats

# H0: mean <= 86000  
# H1: mean > 86000

stats_value, pvalue = stats.ttest_1samp(police_rows_cleaned,86000)

In [28]:
# H0: mean >= 86000  
# H1: mean < 86000

In [29]:
stats_value

18.51748561981861

In [30]:
pvalue / 2

6.119566952121482e-76

In [31]:
# Your code here:

police_wage = police_rows_cleaned

confidence_level = 0.95

degrees_freedom = len(police_wage) - 1  # or, for large values of sample size, just use that (from 50)
sample_mean = np.mean(police_wage)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(police_wage) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval2 = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [32]:
np.std(hourly_wage_ar)/np.sqrt(degrees_freedom)

0.11299301225089042

In [33]:
print( 'confidence interval is ', confidence_interval2, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

In [34]:
sample_standard_error

153.0509585263483

In [35]:
police_wage.isna().value_counts()

False    13824
Name: Annual Salary, dtype: int64

In [36]:
police_rows['Hourly Rate'].isna().sum()

13824

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [37]:
# Your code here: